<div class="year">
  <img src="assets/backward.png" alt="backward" width="32" height="32" (click)="previousYear()">
  <div class="cell" *ngFor="let year of [year.year - 1, year.year, year.year + 1]; let i = index;" [@change]='state(i)'>
    {{ year }}
  </div>
  <img src="assets/forward.png" alt="forward" width="32" height="32" (click)="nextYear()">
</div>

<div class="month">
  <img src="assets/backward.png" alt="backward" width="24" height="24" (click)="previousMonth()">
  <div class="cell" *ngFor="let month of months(year.month); let i = index;" [@change]='stateMonth(i)'>
    {{ month }}
  </div>
  <img src="assets/forward.png" alt="forward" width="24" height="24" (click)="nextMonth()">
</div>
