.cell {
  display: inline-block;
  font-size: 3rem;
  font-weight: bolder;
  /* height: 3rem; */
  /* width: 3rem; */
  /* background-color: lightcyan; */
  /* margin: 0 1rem; */
  text-align: center;
  color: black;
}

img {
  padding: 0 1rem;
}

img:hover {
  cursor: pointer;
}
