.cell {
  display: inline-block;
  font-weight: bolder;
  text-align: center;
  color: black;
}

.year {
  font-size: 3rem;
}

.month {
  font-size: 2rem;
}

/* img {
  padding: 0 1rem;
} */

img:hover {
  cursor: pointer;
}
