<div id="header" [@default]='"appear"'>
  <div class="siimple-navbar siimple-navbar--primary">
    <div class="siimple-content siimple-content--extra-large">
      <a class="siimple-navbar-title">{{ title }}</a>
      <a class="siimple-navbar-subtitle">{{ service.calcYearName() }}</a>
      <div class="siimple--float-right">
        <a class="siimple-navbar-item" href="http://www.github.com/DevinDon/Calendar">Github</a>
        <!-- <a class="siimple-navbar-item" href="www.gitee.com">Gitee</a> -->
        <a class="siimple-navbar-item" href="http://www.don.red">About</a>
      </div>
    </div>
  </div>
  <!-- <div class="siimple-jumbotron siimple-jumbotron--fluid siimple-jumbotron--primary">
    <div class="siimple-content siimple-content--extra-large">
      <div class="siimple-jumbotron-title">{{ title }}</div>
      <div class="siimple-jumbotron-subtitle">{{ subtitle }}</div>
      <div class="siimple-jumbotron-detail">{{ detail }}</div>
    </div>
  </div> -->
</div>

<div id="content" class="siimple-content siimple-content--extra-large" [@default]='"appear"'>
  <app-calendar></app-calendar>
</div>

<div id="footer" class="siimple-footer siimple-footer--primary" [@default]='"appear"'>
  <div style="text-align: center;">
    <span>2018 版权所有 夜寒苏</span>
  </div>
</div>
