<!-- <div class="select siimple-content siimple-content--extra-large">
  <button class="siimple-btn" (click)="whichYear = whichYear - 1">上一年</button>
  <label class="siimple-label">请输入年份: </label>
  <input class="siimple-input" type="number" [(ngModel)]="whichYear">
  <button class=" siimple-btn" (click)="whichYear = whichYear + 1">下一年</button>
</div> -->

<div class="select siimple-content siimple-content--extra-large">
  <app-selector></app-selector>
</div>

<div class="year">
  <div class="month" *ngFor="let month of service.getYear(); let m = index;">
    <h2>{{ service.year }} 年 {{ m + 1 }} 月</h2>

    <div class="siimple-table">
      <div class="siimple-table-header">
        <div class="siimple-table-row">
          <div class="day siimple-table-cell" *ngFor="let head of heads">
            {{ head }}
          </div>
        </div>
      </div>

      <div class="siimple-table-body">
        <div class="week siimple-table-row" *ngFor="let week of month">
          <div class="day siimple-table-cell" [ngClass]="{'none': day === 0}" *ngFor="let day of week">
            {{ day }}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
